/*success*/
body {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    text-align: center;
    padding-top: 80px;
    font-family: 'Tajawal', sans-serif;
    color: white;
}

.success-box {
    background: rgba(255, 255, 255, 0.15);
    padding: 40px;
    max-width: 450px;
    margin: auto;
    border-radius: 25px;
    backdrop-filter: blur(10px);
}

.success-box i {
    font-size: 70px;
    margin-bottom: 20px;
    color: #4eff9c;
}

.btn-home {
    padding: 12px 25px;
    margin-top: 20px;
    border-radius: 15px;
    background: white;
    color: #444;
    border: none;
}